body{
    margin: 0;
    
}

/* the header section */

.header-box{
    height:210px;
    width: 100%;
    background-color: white;
}


#header{
    display: flex;
    justify-content: space-around;
    height: 200px;
    background-color: white;
    position: fixed;
    z-index: 1;
    
    
}



.search{
    display: inline-flex; 
    border: 1px solid;
    height: 50px;
    width: 600px;
    background-color: whitesmoke;
    margin-top: 50px;    
    
}


#search{
    padding-left: 15px;
    padding-top: 10px;
}

::placeholder{
    font-size: 30px;
}

input{
   width: 520px;
   font-size: 30px;
   border-style: hidden;
   
}

.icon{
    font-size:25px;
    padding-left: 10px;
    padding-top: 5px;
}

.mic{
    display: inline-flex;
    font-size: 30px;
    
    margin-left: 30px;
    margin-top: 50px;
    width: 50px;
    height: 55px;
    border-radius: 20px;
    padding-left: 10px;
    

}

.nav{
    display: flex;
    
}

.nav-box{
    font-size: 30px;
    margin-left: 30px;
    margin-top: 30px;
    width: 50px;
    height: 55px;
    
    
}

.nav-img{
    width: 50px;
    border-radius: 20px;
}

/* the main section */
#main{
    padding-left: 50px;
    display: flex;
}

.section1{
    width: 1200px;
    height: 800px;
    background-color: whitesmoke;
}

.section1-videos{
    /* width: 1200px;
    height: 650px; */
    padding-top: 30px;
}

.section2-videos{
    padding-left: 60px;
    padding-top: 30px;
    /* width: 350px; */
}

.side-video{
    display: inline-flex;
    
}

/* video title section */
h2{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 10px;
    width: 150px;
}

h1{
    padding-left: 80px;
    font-family: sans-serif;
}
p{
font-size: 10px;
padding-left: 15px;
}

/* p-tag for h1 section */
.p{
    padding-left: 80px;
}
